.coin-badge {
    display: flex;
    align-items: center;
    gap: 4px;   
}

.coin-badge-icon {
    width: 1rem;
    height: 1rem;
}

.coin-badge-amount {
    font-family: var(--font-code);
    font-size: 14px;
    color: var(--color-text-light);
}